@using ES_BackOffice.Models
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: #f6f4bf;">

    @*DESKTOP*@

    <div class="hidden-phone offset2 span8">
        <div>
            <img src="~/Images/Content/halfgreenhouse2big.jpg" alt="Make Your Garden Stand Out!" />
            <br />
            <br />
        </div>


        <div class="row-fluid">
            <div class="span8 view-all-header" style="vertical-align: middle;">
                <div>
                    <span style="font-family:Gotham-Light; font-size:11pt;">
                        Eds Sheds provide high quality garden sheds, summer houses and garden furniture in the Lancashire area. We are well established with over 14 years experience, providing a wide range of high quality garden sheds and products.
                        <br /><br />
                        Ed's Sheds come highly recommended. We have developed an excellent reputation in the Lancashire area. We have grown to be trusted for our first class service and the quality and range of our sheds and garden products. With our considerable experience and expertise, we have built an enviable reputation for quality and value.
                        <br />
                        <br />
                        <img src="~/Images/Content/nailgun.jpg" alt="" align="left" style="padding-right: 9px; padding-top: 5px; padding-bottom: 5px;" />
                        All of our garden buildings are made to order in our workshop. You can have any shape or size that you like and the timber that we use is of high standard. We offer only high quality products and workmanship at very competitive rates. All our work is carried out to the highest possible standards. We offer a full range of garden buildings from wall-stores to large scale heavy duty buildings, quality fencing and decking and our high quality, cost effective garden furniture and products will exceed your expectations.
                        <br />
                        <br />
                    </span>
                    <span style="font-family:Gotham-Medium; font-size:11pt;">
                        NO JOB TOO BIG...
                        <a href="~/Images/Content/Pavilion.jpg" target="_blank"><img src="~/Images/Content/Pavilion.jpg" alt="65' x 18' Pavilion" style="padding-right: 9px; padding-top: 5px; padding-bottom: 8px;" /></a>
                    </span>
                    <span style="font-family:Gotham-Light; font-size:11pt;">
                        This is a 65' x 18' Pavilion made out of 5/8" Shiplap timber and 4" x 2" framework with full insulation. It has 3 partitioned rooms within the building and and the roof has been protected with torch on felt.
                        <br /><br />
                        We pride ourself on our friendly attitude towards customers and bringing great customer satisfaction. Please feel free to contact us and we will be happy to help you with any inquiries that you have.
                        <br /><br />
                    </span>
                    <span style="font-family:Gotham-Medium; font-size:18pt; color: red;">
                        Call us on 01282 788669
                    </span>

                    @*<div class="row-fluid">
                        <div class="top-buffer feed-header" style="background-color: #3a3d3f; vertical-align: middle; height: 25px;">
                            <span style="font-family: Gotham-Medium; color: white; vertical-align: middle; padding-top:5px;">Current Offers</span>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 view-all-header" style="background-color: white; vertical-align: middle;">
                            @{
                                Html.RenderPartial("_OffersFeed");
                            }
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="feed-footer view-all-header" style="background-color: #3a3d3f; vertical-align: middle; height:25px;">
                            <span style="font-family: Gotham-Medium; color: white; vertical-align: middle; padding-top:5px;">@Html.ActionLink("VIEW ALL >", "Offers", "Home", null, new { @style = "font-family: Gotham-Medium; color: white;" })</span>
                        </div>
                    </div>*@

                    <div class="row-fluid top-buffer">
                    </div>
                </div>
            </div>
            <div class="span4 view-all-header" style="background-color: #f6f4bf; vertical-align: middle;">
                <a href="~/Images/Content/HomeImages/shed.JPG" target="_blank">
                    <img src="~/Images/Content/HomeImages/shed.jpg" alt="" style="padding-bottom:10px;">
                </a>
                <a href="~/Images/Content/HomeImages/logcabin.jpg" target="_blank">
                    <img src="~/Images/Content/HomeImages/logcabin.jpg" alt="" style="padding-bottom:10px;">
                </a>
                <a href="~/Images/Content/HomeImages/summerhouse.jpg" target="_blank">
                    <img src="~/Images/Content/HomeImages/summerhouse.jpg" alt="" style="padding-bottom:10px;">
                </a>
                <a href="~/Images/Content/HomeImages/workshop.jpg" target="_blank">
                    <img src="~/Images/Content/HomeImages/workshop.jpg" alt="" style="padding-bottom:10px;">
                </a>
                <a href="~/Images/Content/HomeImages/decking.jpg" target="_blank">
                    <img src="~/Images/Content/HomeImages/decking.jpg" alt="" style="padding-bottom:10px;">
                </a>
            </div>
        </div>
    </div>

    @*PHONE*@


    <div class="hidden-desktop hidden-tablet" style="-moz-min-width: 462px; -ms-min-width: 462px; -o-min-width: 462px; -webkit-min-width: 462px; min-width: 462px;">
        <div>
            <img src="~/Images/Content/halfgreenhouse2big.jpg" alt="Make Your Garden Stand Out!" />
        </div>
        <div class="row-fluid">
            <div class="span8" style="background-color: #f6f4bf; padding: 10px 10px 10px 10px; vertical-align: middle;">
                <span style="font-family:Gotham-Light; font-size:11pt;">
                    Eds Sheds provide high quality garden sheds, summer houses and garden furniture in the Lancashire area. We are well established with over 14 years experience, providing a wide range of high quality garden sheds and products.
                    <br /><br />
                    Ed's Sheds come highly recommended. We have developed an excellent reputation in the Lancashire area. We have grown to be trusted for our first class service and the quality and range of our sheds and garden products. With our considerable experience and expertise, we have built an enviable reputation for quality and value.
                    <br />
                    <br />
                    <img src="~/Images/Content/nailgun.jpg" alt="" align="left" style="padding-right: 9px; padding-top: 5px; padding-bottom: 5px;" />
                    All of our garden buildings are made to order in our workshop. You can have any shape or size that you like and the timber that we use is of high standard. We offer only high quality products and workmanship at very competitive rates. All our work is carried out to the highest possible standards. We offer a full range of garden buildings from wall-stores to large scale heavy duty buildings, quality fencing and decking and our high quality, cost effective garden furniture and products will exceed your expectations.
                    <br />
                    <br />
                </span>
                <span style="font-family:Gotham-Medium; font-size:11pt;">
                    NO JOB TOO BIG...
                    <a href="~/Images/Content/Pavilion.jpg" target="_blank"><img src="~/Images/Content/Pavilion.jpg" alt="65' x 18' Pavilion" style="padding-right: 9px; padding-top: 9px; padding-bottom: 9px;" /></a>
                </span>
                <span style="font-family:Gotham-Light; font-size:11pt;">
                    This is a 65' x 18' Pavilion made out of 5/8" Shiplap timber and 4" x 2" framework with full insulation. It has 3 partitioned rooms within the building and and the roof has been protected with torch on felt.
                    <br /><br />
                    We pride ourself on our friendly attitude towards customers and bringing great customer satisfaction. Please feel free to call in and have a look around our showroom and one of our well experienced and professional staff will show you around. Or simply contact us and we will be happy to help you with any inquiries that you have.
                    <br /><br />
                </span>
                <span style="font-family:Gotham-Medium; font-size:18pt; color: red;">
                    Call us on 01282 788669
                </span>
            </div>
        </div>
        @*<div class="container" style="margin-left:10px; margin-right:10px;">
            <div class="row-fluid">
                <div class="top-buffer feed-header" style="background-color: #3a3d3f; vertical-align: middle; height: 25px;">
                    <span style="font-family: Gotham-Medium; color: white; vertical-align: middle; padding-top:5px;">Current Offers</span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8" style="background-color: white; vertical-align: middle;">
                    @{
                        Html.RenderPartial("_OffersFeed");
                    }
                </div>
            </div>
            <div class="row-fluid">

                <div class="feed-footer view-all-header" style="background-color: #3a3d3f; vertical-align: middle; height:25px;">
                    <span style="font-family: Gotham-Medium; color: white; vertical-align: middle; padding-top:5px;">@Html.ActionLink("VIEW ALL >", "Offers", "Home", null, new { @style = "font-family: Gotham-Medium; color: white;" })</span>

                </div>
            </div>
            <br />
        </div>*@
    </div>
</div>

