@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="line-height: 25px;">Welcome to the website administration centre. 
</h2>
<h3 style="line-height: 25px;">Please use the links below or the sidebar to the left to navigate.</h3>
<p style="line-height: 30px;">
    <a href="~/bookmakers-admin" style="color: blue; text-decoration: underline; font-size: 11pt;">Offers</a><br />
</p>
